        <div class="container padding-row">

            <div class="row no-margin margin-bottom-xl">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <figure class="img wow slideInLeft">
                        <img class="margin-top-sm" src="assets/img/team.jpeg" alt="www.tiempocompartido.com" height="250" width="100%">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 wow fadeIn">
                    <h1 class="title">
                        Nuestro equipo
                    </h1>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br><br>
                    </p>
                    <blockquote>
                        Cita de nuestro equipo
                    </blockquote>
                </div>
            </div>

            <div class="row no-margin margin-bottom-xl">
                <div class="col-xs-12 col-md-6 col-lg-6 wow fadeIn">
                    <h1 class="title">
                        Nuestra Visión
                    </h1>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br><br>
                    </p>
                    <blockquote>
                        Cita de nuestro equipo
                    </blockquote>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <figure class="img wow slideInRight">
                        <img class="margin-top-sm" src="assets/img/vision.jpg" alt="www.tiempocompartido.com" height="250" width="100%">
                    </figure>
                </div>
            </div>

            <div class="row no-margin margin-bottom-xl">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <figure class="img wow slideInLeft">
                        <img class="margin-top-sm" src="assets/img/mision.jpeg" alt="www.tiempocompartido.com" height="250" width="100%">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 wow fadeIn">
                    <h1 class="title">
                        Nuestro Misión
                    </h1>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus 
                        provident ipsam facere dolorum excepturi nostrum nihil magnam 
                        assumenda aperiam, voluptatum, at veritatis qui reiciendis obcaecati 
                        dolorem ratione ex ducimus sapiente. <br><br>
                    </p>
                    <blockquote>
                        Cita de nuestro equipo
                    </blockquote>
                </div>
            </div>
        </div>