.bolder
    font-weight 700
.border-gray
    border 1px solid $Color__LigthGray
.capitalize
    text-transform capitalize
.color-brand
    color $Color__Brand
.hr-separator
    border-top 4px double #616161
    text-align center
    &:after
        content ' - o bien - '
        display inline-block
        position relative
        top -15px
        padding 0 10px
        background #fff
        color #616161
        font-size 18px
.margin-bottom
    margin-bottom 30px
.margin-bottom-sm
    margin-bottom 25px
.margin-top-sm
    margin-top 25px
.margin-bottom-xl
    margin-bottom 60px
.no-margin-sides
    margin-right 0px
    margin-left 0px
.no-padding-sides
    padding 15px 0px !important
.no-padding
    padding 0
.padding
    padding 35px
.padding-left
    padding 0px 0px 0px 7px
.padding-right
    padding 0px 7px 0px 0px
.padding-top-sm
    padding-top 25px
.padding-row
    padding 35px 0
.pointer
    cursor pointer
.uppercase
    text-transform uppercase