.Profile
    background $Color__LigthGray
    height 100%
    overflow hidden
    padding 65px 0px
    position relative
    top 65px
    width 100%
    &__Gallery
    &__Cost
    &__Description
    &__ContactForm
    &__Map
        background white
        border-radius 4px
        border 1px solid #eee
        height auto
        overflow hidden
        width 100%
    &__ContactForm
        form
            padding 15px 0px
    &__Gallery
        padding 15px 0
    &__Cost
        height auto
    &__DescriptionText
        height 335px
        max-height 335px
        overflow auto
        padding 25px
    &__Map
        div
            &.map
                width 100%
    &__Title
        border-bottom 1px solid #eee
        padding 15px
        h2
            font-family $Font__Muli
    &__Contact
        padding 15px
        text-align center
    &__Benefits
        padding 20px 15px
        p
            font-size 20px
            margin-bottom 10px
    &__Description
        height 438px
        max-height 438px