.Search
    background-color $Color__White
    width 100%
    &__Filters
        overflow hidden
    &__Result
        height auto
        width 100%
    &__List
        list-style none
        margin 0
        padding 0
    &__ListItem
        background-color $Color__LigthGray
        height 250px
        margin-bottom 10px
        position relative
        width 100%
        &__Image
            float left
            height 250px
            width 30%
            img
                height 100%
                width 100%
        &__Description
            float left
            padding 25px
            width 70%
.QuickSearch
    background-color $Color__LigthGray
    max-width 100%
    width 100%
