
    <nav class="Navigation">
        <div class="container-fluid">
            <div class="pull-left">
                <div class="Navigation__Image">
                    <a href="/home">
                        <figure class="img">
                            <img src="assets/img/logo.gif" alt="www.tiempocompartido.com">
                        </figure>
                    </a>
                </div>
            </div>
            <div class="pull-right">
                <div class="Navigation__Actions">
                    <div class="form-inline">
                        <div class="form-group">
                            <a class="border-rigth modal-signin" (click)="staticModal.show()">Ingresar</a>
                        </div>
                        <div class="form-group">
                            <a class="border-rigth modal-signin" (click)="logout()">Salir</a>
                        </div>
                        {{username}}
                        <div class="form-group">
                            <i class="fa fa-bars pointer Navigation__Menu"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="Header home">
        <div class="container">
            <div class="col-xs-12 col-md-6 col-lg-8">
                <h1 class="Header__Title margin-bottom-sm wow fadeInUpBig" data-wow-duration="1s">Las vacaciones de tus sueños!</h1>
                <p class="Header__Description wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="1s">
                    Experimenta una diferente forma de vacacionar, disfruta de un tiempo compartido en los clubes mas 
                    importantes del mundo haciendo trato directo con los propietarios, sin intermediación! consiguiendo 
                    los mejores precios!, ¿que esperas?, esta oportunidad es única, comienza ahora!
                </p>
            </div>
        </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="Footer">
        <div class="container margin-bottom-sm">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="Footer__Title">
                    <h4 class="title">Tiempo Compartido</h4>
                </div>
                <div class="Footer__Content">
                    <ul>
                        <li><a href="/about-us">Acerca de</a></li>
                        <li><a href="/faqs">Ayuda</a></li>
                        <li><a href="#">Condiciones de uso</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="Footer__Title">
                    <h4 class="title">Categorías</h4>
                </div>
                <div class="Footer__Content">
                    <ul>
                        <li><a href="#">Tiempos compartidos en la playa</a></li>
                        <li><a href="#">Tiempos compartidos en el bosque</a></li>
                        <li><a href="#">Tiempos compartidos en México</a></li>
                        <li><a href="#">Tiempos compartidos en Cancun</a></li>
                        <li><a href="#">Tiempos compartidos en Acapulco</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="Footer__Title">
                    <h4 class="title">Cómo buscar el mejor lugar</h4>
                </div>
                <div class="Footer__Content">
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Porro autem deserunt, cupiditate ex molestiae possimus quod, 
                        laboriosam placeat facilis repellendus nobis ea eos vero, 
                        earum dolor modi, iusto aliquam blanditiis.
                    </p>
                </div>
            </div>
        </div>
        <div class="Footer__Copy">
            <div class="container">
                <p class="text-right">
                    Copyright&copy; 2017
                </p>
            </div>
        </div>
    </footer>




    <!-- Modal Login/Registro -->
    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
            tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Ingresar</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Iniciar Sesión</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Registrarme</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content padding">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <form>
                                <div class="form-group">
                                    <label for="txt__Email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="txt__Email" placeholder="Correo electrónico">
                                </div>
                                <div class="form-group">
                                    <label for="txt__Password">Contraseña</label>
                                    <input type="password" class="form-control" id="txt__Password" placeholder="Contraseña">
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox"> Recordarme
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-default">Ingresar</button>
                                <hr class="hr-separator">
                                <button class="btn btn-lg btn-block btn-facebook">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <button class="btn btn-lg btn-block btn-google">
                                    <i class="fa fa-google"></i>
                                </button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <form>
                                <div class="form-group">
                                    <label for="txt__SignupEmail">Correo electrónico</label>
                                    <input type="email" class="form-control" id="txt__SignupEmail" placeholder="Correo electrónico">
                                </div>
                                <div class="form-group">
                                    <label for="txt__SignupPassword">Contraseña</label>
                                    <input type="password" class="form-control" id="txt__SignupPassword" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <label for="txt__ConfirmPassword">Confirmar contraseña</label>
                                    <input type="email" class="form-control" id="txt__ConfirmPassword" placeholder="Confirmar contraseña">
                                </div>
                                <div class="form-group">
                                    <label for="txt__ConfirmPassword">Soy?</label><br>
                                    <label class="radio-inline">
                                        <input type="radio" name="rd__CustomerType" id="inlineRadio1" value="option1"> Propietario
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="rd__CustomerType" id="inlineRadio2" value="option2"> Visitante
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-default">Registrarme</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
            </div>
        </div>
    </div>
