        <section class="Profile padding-row">
            <div class="container">
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <h1 class="title">
                        Residencia en las montañas.
                    </h1>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-7 margin-bottom">
                    <div class="Profile__Gallery">
                        <div class="Profile__Title">
                            <h2><i class="fa fa-picture-o"></i> Galería</h2>
                        </div>
                        <div class="Profile__GalleryImages">
                            <div id="Profile__Gallery" class="owl-carousel owl-theme">
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/nature.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/mountains.jpeg" alt="">
                                    </figure>
                                </div>
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/nature.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/mountains.jpeg" alt="">
                                    </figure>
                                </div>
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/nature.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="item">
                                    <figure class="img">
                                        <img src="assets/img/mountains.jpeg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="Profile__Contact">
                            <button class="btn btn-primary btn-lg">
                                <i class="fa fa-phone"></i> Contactar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-lg-5 margin-bottom">
                    <div class="Profile__Cost">
                        <div class="Profile__Title">
                            <h2><i class="fa fa-usd"></i> 2,500 USD</h2>
                        </div>
                        <div class="Profile__Benefits">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <p>
                                    <i class="fa fa-bed"></i> 4 Recamaras
                                </p>
                                <p>
                                    <i class="fa fa-bath"></i> 2 Baños
                                </p>
                                <p>
                                    <i class="fa fa-calendar"></i> 4 Años de antigüedad
                                </p>
                                <p>
                                    <i class="fa fa-thermometer-4"></i> 4ºC Minima - 26ºC Máxima
                                </p>
                                <p>
                                    <i class="fa fa-plane"></i> 20 Minutos el aeropuerto más cercano.
                                </p>
                                <p>
                                    <i class="fa fa-hospital-o"></i> 15 Minutos el hospital más cercano
                                </p>
                                <p>
                                    <i class="fa fa-bed"></i> 4 Recamaras
                                </p>
                                <p>
                                    <i class="fa fa-bed"></i> 4 Recamaras
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-7 margin-bottom">
                    <div class="Profile__Description">
                        <div class="Profile__Title">
                            <h2><i class="fa fa-align-left"></i> Descripcion</h2>
                        </div>
                        <div class="Profile__DescriptionText">
                            <p> 
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam tempora numquam 
                                repellendus culpa accusamus non enim voluptate nobis iste commodi molestiae ducimus pariatur 
                                velit iure tenetur illo, ullam quam aperiam.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos impedit dolor, 
                                quasi harum debitis reprehenderit ex dolore provident distinctio voluptatibus optio quis, 
                                suscipit id neque magnam. Sed, corrupti, sapiente.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos impedit dolor, 
                                quasi harum debitis reprehenderit ex dolore provident distinctio voluptatibus optio quis, 
                                suscipit id neque magnam. Sed, corrupti, sapiente.
                                <br><br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos impedit dolor, 
                                quasi harum debitis reprehenderit ex dolore provident distinctio voluptatibus optio quis, 
                                suscipit id neque magnam. Sed, corrupti, sapiente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-lg-5 margin-bottom">
                    <div class="Profile__ContactForm">
                        <div class="Profile__Title">
                            <h2><i class="fa fa-envelope-o"></i> Contactanos</h2>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Nombre</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Correo</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Comentarios</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Enviar <i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 margin-bottom">
                    <div class="Profile__Map">
                        <div class="Profile__Title">
                            <h2><i class="fa fa-map-marker"></i> Ubicación</h2>
                        </div>
                        <div class="Map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.0382720205994!2d-105.44269228533743!3d20.870507586084322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842116703e3b58ad%3A0x57b1687cf8479d4!2sSayulita+Beach+House+Hotel!5e0!3m2!1ses-419!2smx!4v1485556929809"  width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <hr width="100%">
                <div class="col-xs-12 col-lg-12 margin-bottom">
                    <h2 class="title">
                        Otros tiempos compartidos relacionados.
                    </h2>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom">
                    <div class="Card">
                        <div class="Card__Image">
                            <img src="assets/img/nature.jpg" alt="">
                        </div>
                        <div class="Card__Content">
                            <h4 class="Card__Content__Titl">
                                Residencia en el bosque de chapultepec
                            </h4>
                        </div>
                        <div class="Card__Actions">
                            <button class="btn btn-default">
                                Ver propiedad
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 margin-bottom">
                     <div class="Card">
                        <div class="Card__Image">
                            <img src="assets/img/nature.jpg" alt="">
                        </div>
                        <div class="Card__Content">
                            <h4 class="Card__Content__Titl">
                                Residencia en el bosque de chapultepec
                            </h4>
                        </div>
                        <div class="Card__Actions">
                            <button class="btn btn-default">
                                Ver propiedad
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>