/**
 @FONTS
**/
$Font__Montserrat = 'Montserrat', sans-serif;
$Font__Muli = 'Muli', sans-serif;
$Font__Brand = 'Oswald', sans-serif;
/**
 @COLORS
**/
$Color__White = #fff
$Color__Black = #000
$Color__MdBlack = #293033
$Color__LigthGray = #f3f5fa

$Color__Brand = #034477
$Color__Brand--Green = #1A936F
$Color__Brand--LigthGreen = #88D498

$Color__Facebook = #3b5998
$Color__Google = #dd4b39

body
    font-family $Font__Muli
    font-size 16px
h1,h2,h3,h4,h5,h6
    margin 0
    padding 0