/**
    @INPUTS
**/
input
    &.form-control
        border-radius 0px !important
/**
    @BUTTONS
**/
.btn
    border-radius 0px
.btn-primary-outline
    background-color transparent
    border 1px solid $Color__Brand--LigthGreen
    color $Color__Brand--LigthGreen
    transition .2s all ease
    &:hover
        background-color $Color__Brand--LigthGreen
        color $Color__White
        transition .2s all ease
.btn-outline-white
    background-color transparent
    border 1px solid $Color__White
    color $Color__White
    transition .2s all ease
    &:hover
        background-color $Color__White
        color $Color__Brand--Green
        transition .2s all ease
.btn-facebook
    background-color $Color__Facebook
    color $Color__White
    &:hover
        background-color #314c84
        color $Color__White
.btn-google
    background-color $Color__Google
    color $Color__White
    &:hover
        background #bf4233
        color $Color__White
/**
    @MODALS
**/
.modal-content
    border-radius 0px
.modal-header
    background-color $Color__Brand--Green
    border-bottom none
    color $Color__White
    h4
        letter-spacing 1px
.modal-footer
    border-top none
.nav-tabs
    li
        a
            border-radius 0
/**
    @PANELS
**/
.panel
    border-radius 0px !important
/**
    @BREADCRUMS
**/
.breadcrumb
    background-color $Color__White
    margin-bottom 0px