.Footer
    background-color $Color__MdBlack
    color white
    padding-top 35px
    position relative
    width 100%
    &__Title
        padding 15px
        border-bottom 1px solid #41494c
    &__Content
        padding 15px
        ul
            list-style none
            margin 0
            padding 0
            li
                display block
                a
                    color $Color__LigthGray
                    display block
                    padding 5px
    &__Copy
        background-color #212729
        height 50px
        line-height 50px
        max-width 100%
        width 100%
        p
            margin 0
            padding 0