.Navigation
    background-color $Color__White
    border-bottom 1px solid $Color__LigthGray
    height 65px
    max-width 100%
    overflow hidden
    position fixed
    width 100%
    z-index 999
    &__Image
        border-right 1px solid #dce0e0
        img
            height 65px
            padding 5px
            position relative
    &__Actions
        line-height 65px
        a
            color $Color__MdBlack
            padding 10px
            &.border-rigth
                border-right 1px solid #dce0e0
    &__Menu
        font-size 1.2em
        margin-right 20px
        padding 10px