        <div class="QuickSearch padding-row">
            <div class="container">
                <div class="col-xs-12 col-md-12 margin-bottom">
                    <h1 class="title">
                        Busca las vacaciones de tus sueños
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 where border-gray">
                    <div class="form-group">
                        <label for="cmb__Country">Dónde?</label>
                        <input type="text" class="form-control" id="cmb__Country" placeholder="Destino, Ciudad" list="locations">
                        <datalist id="locations">
                            <option value="Aguascalientes"></option>
                            <option value="Baja California"></option>
                            <option value="Baja California sur"></option>
                            <option value="Jalisco"></option>
                            <option value="Sonora"></option>
                            <option value="California"></option>
                            <option value="Florida"></option>
                            <option value="Texas"></option>
                            <option value="NYC"></option>
                            <option value="Jamaica"></option>
                        </datalist>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 when border-gray">
                    <div class="form-group">
                        <div class="col-xs-12 col-lg-12">
                            <label for="txt__DateVacations">Cuándo?</label>
                        </div>
                        <div class="col-xs-6 col-lg-6">
                            <input type="text" class="form-control" id="txt__StartDateVacations" placeholder="Llegada">
                        </div>
                        <div class="col-xs-6 col-lg-6">
                            <input type="text" class="form-control" id="txt__EndDateVacations" placeholder="Salida">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 who border-gray">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Huéspedes?</label>
                        <input type="number" class="form-control" min="1" max="20" placeholder="Cuántas personas">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 search border-gray">
                    <div class="form-group">
                        <a href="/search" class="btn btn-lg btn-block">Buscar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="Latest padding-row">
            <div class="container">
                <h3 class="Latest__title margin-bottom">
                    Lo mejor del verano? es momento de playa
                </h3>
                <div class="Latest__content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="/property" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/beach.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Latest nature padding-row">
            <div class="container">
                <h3 class="Latest__title margin-bottom">
                    Un momento de relajación? Una cabaña en el bosque!
                </h3>
                <div class="Latest__content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/nature.jpg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Latest padding-row">
            <div class="container">
                <h3 class="Latest__title margin-bottom">
                    Qué tal disfrutar con la familia? Un cabaña en las montañas
                </h3>
                <div class="Latest__content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="Card">
                                <div class="Card__Image">
                                    <img src="assets/img/mountains.jpeg" alt="www.tiempocompartido.com">
                                </div>
                                <div class="Card__Content">
                                    <h4 class="Card__Content__Title">
                                        Occidental Grand Xcaret
                                    </h4>
                                    <p class="Card__Content__Description">
                                        $1750.00 x Noche
                                    </p>
                                    <div class="Card__Actions no-padding-sides">
                                        <a href="profile.html" class="btn btn-primary-outline">
                                            Ver propiedad
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="About padding-row">
            <div class="container">
                <div class="About__Title margin-bottom">
                    <h2>Quienes somos</h2>
                </div>
                <div class="About__Content">
                    <p class="text">
                        Somos una empresa que pone a tu disposición un medio para la libre difusión de propiedades y tiempos compartidos en 
                        venta y renta entre usuarios vacacionistas, sin comisiones ni intermediarios, 
                        ¡Consigue el mejor precio para tus vacaciones!.
                        <br><br>
                        Nuestro principal objetivo es lograr formar y mantener activa un comunidad de personas interesadas en la compra, venta y renta de semanas o membresias vacacionales, personas que
	                    a travez de la plataforma consigan ese lazo entre propietarios y viajeros que como tu buscan encontrar el mejor lugar para vacacionar, buscando en <strong>@tiempocompartido</strong>
                        la mejor de las recomendaciones basadas en tu experiencia y la de tu familia. <strong>Atrevete a conocer el mundo!</strong>
                        <br><br>
                        <a href="about.html" class="btn btn-lg btn-outline-white">Conoce más de nosotros!</a>
                    </p>
                </div>
            </div>
        </div>
        <section class="Testimonial">
            <div class="container">
                <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="Testimonial__Content">
                        <div class="Testimonial__Img">
                            <figure class="img">
                                <img src="assets/img/avatar.jpeg" alt="www.tiempocompartido.com">
                            </figure>
                        </div>
                        <div class="Testimonial__Comment">
                            <p>
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iusto at 
                                doloremque fugit, temporibus laudantium, odio error sequi maxime officia repellat
                                libero nostrum suscipit molestiae, id ipsum modi dolorum, minima?"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>